
* {
    box-sizing: border-box;
}

html,
body {
    --border-radius: 100px;
    --blue: #1c47ff;
    --pink: red;
    --green: #d0ff94;
    --grey: #e5e5e5;
    --gutter: 3.125vw 6.25vw;

    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Syne', sans-serif;
}

h1 {
    font-size: 70px;
    line-height: 1em;
    color: darkred;
    margin: 0;
    text-align: center; /* Center the h1 on both mobile and web version */
}

h2 {
    font-size: 60px;
    margin: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

section {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    top: 100px;
    z-index: 2;
}

section.sticky {
    position: sticky;
    margin-top: 100px;
}

section.full-screen {
    height: 100vh;
    top: 0;
    margin-top: 0;
    z-index: 3;
}

/* navigation */

nav {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    font-size: 20px;
    z-index: 1;
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin-left: 45px;
}

nav ul li a {
    color: #ffffff;
    font-family: 'Space Mono', monospace;
}

/* about section */

section.about .empty {
    display: none; /* Hide the empty element on smaller screens */
}

section.about article {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section.about article .title {
    height: 100vh; /* Set height to full screen */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    padding: var(--gutter);
    transition: flex-basis 1s cubic-bezier(0,.9,.4,.99);
}

section.about article .description {
    height: 100vh; /* Set height to full screen */
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--pink);
    border-radius: var(--border-radius);
    padding: var(--gutter);
    color: #000000;
    text-align: center; /* Center the text in description on both mobile and web version */
}


/* service section */

section.service article {
    display: flex;
    width: 100%;
}

section.service figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 56.25vw;
    margin: 0;
    background: var(--green);
    border-radius: var(--border-radius);
    max-width: 62.5vw;
    transition: flex-basis 1s cubic-bezier(0,.9,.4,.99);
}

section.service figure img {
    width: 40%;
}

section.service .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background: #1f1a1c;
    padding: var(--gutter);
    border-radius: var(--border-radius);
}

section.service .text a {
    font-family: 'Space Mono', monospace;
}

/* service section animations */

section.service.service-html figure img {
    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.77,.28,.42,.93);
}

section.service.service-css figure img {
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.77,.28,.42,.93);
}

section.service.service-js figure img {
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.77,.28,.42,.93);
}

@keyframes float {
    0% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(5%);
    }
}

@keyframes scale {
    0% {
        transform: scale(.75);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* contact section */

section.contact {
    align-items: center;
    justify-content: center;
    background: linear-gradient(#ed0202 25%, #ffffff, #0003ae);
    border-radius: var(--border-radius);
}

section.contact a {
    font-size: 70px;
    color: #000000;
    font-weight: bold;
    transition: filter 2s cubic-bezier(.77,.28,.42,.93);
    will-change: filter;
}


/* responsive */

@media only screen and (max-width: 768px) {
    html, body {
        --border-radius: 50px;
        --gutter: 6.25vw;
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    h1 {
        font-size: 40px; /* Adjust the font size for mobile */
    }

    h2 {
        font-size: 30px;
    }

    nav ul li {
        margin-left: 25px;
    }

    section.about .empty,
    section.about article .title,
    section.about article .description,
    section.service figure,
    section.service article,
    section.service .text,
    section.contact {
        flex-basis: auto;
        max-width: 100%;
        border-radius: 0; /* Remove border radius for smaller screens */
        padding: var(--gutter); /* Adjust padding for smaller screens */
    }
    section.contact a {
        font-size: 30px;
    }
    section.about .empty {
        display: none; /* Hide the empty element on smaller screens */
    }

    section.service article {
        flex-direction: column; /* Stack elements vertically */
    }

    section.about article .title,
    section.about article .description {
        border-radius: 25px; /* Adjust the border-radius for smaller screens */
        padding: 10px; /* Adjust the padding for smaller screens */
    }

    section.service figure {
        border-radius: 25px; /* Adjust the border-radius for smaller screens */
        padding: 10px; /* Adjust the padding for smaller screens */
    }
}